
#adoptions {
    max-width: 1320px;
    margin: 50px auto;

    .adoption {
        display: flex;
        height: 300px;

        .dog {
            background-image: url(../img/chiens-adoption-spa.jpg);
            background-size: cover;
            background-position: center;
            width: 50%;
            position: relative;
            margin: 5px;

        }
        .cat {
            background-image: url(../img/chats-adoption-spa.jpg);
            background-size: cover;
            background-position: center;
            width: 50%;
            position: relative;
            margin: 5px;
        }
    }

    
}

#icons {
    margin: 50px;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon-size {
        width: 50%;

    }


}

